@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Utilizza la barra navigatrice per acccedere alle tabelle.</p>
    <p>Esempio:</p>
    <p>https://localhost:7091/Allievi</p>
    <p>Il Database usato è MySQL</p>
</div>
